/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ngx-toastr/toastr.css";
*{
    padding: 0;
    margin: 0;
    
}

body{
    background-color: #EDEFF3;
    font-family: 'Mulish', sans-serif;
}

.custom-toast {
    /* Add your custom styles here */
    background-color: #1A6634;
    color: white;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 8px;

    &.success {
        background-color: #1A6634;
        color: white;
      }
      
    &.failure {
        background-color: #FD7676;
        color: white;
      }
      
    & .toast-message{

        & .icon-toast{
            margin-right: 10px;
        }
    }
} 

.mat-drawer-backdrop {
    background-color: rgba(0, 0, 0, 0.5) !important; /* Adjust opacity as needed */
}