.header-container{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #FFFFFF;

    & .logo-container{
        display: flex;
        width: 220px;
        height: 100%;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
        border-right: 1px solid #5A6276;

        & .logo-img {
            width: 100%;
            height: 90%;
        }
    }

    & .module-container{
        display: flex;
        height: 100%;
        width: calc(100% - 500px);
        overflow-x: auto;

        & .module-block{
            display: flex;
            width: 83px;
            height: 100%;
            place-items: center;
            position: relative;
            

            & .module{
                width: 81px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;                          

                & .relative-block{
                    display: flex;
                    height: 100%;
                    align-items: center;
                    position: relative;

                    & .module-name{                   
                        text-align: center;
                        font-size: 13px;
                        font-weight: bold;
                        color: #BBBBBB;
                        cursor: pointer;
                        &.active{
                            color: #008000;
                        }
                        &:hover{
                            color: #008000;
                        }
                    }

                    & .active-bottom-bar{
                        position: absolute; 
                        display: none;
                        width: 100%;             
                        height: 3px;
                        bottom: 0;
                        border-radius: 4px;
                        background-color: #008000;

                        &.active{
                            display: block;
                        }
                    }
                 
                }
                
            }

            & .seperate-bar{
                height: 30px;
                width: 2px;
                background-color: #C4C4C4;
                border-radius: 3px;
                
            }

            
        }
    }

    & .module-func-container{
        display: flex;
        height: 100%;
        width: 300px;
        justify-content: right;

        & .func-block{
            width: 50px;
            height: 100%;
            display: flex;
            place-items: center;
            justify-content: center;
            
            & .func-icon{
                font-size: 18px;
                cursor: pointer;
            }

            & .notify-block{
                position: relative;
                
                & .noti-count{
                    position: absolute;
                    display: flex;
                    width: 18px;
                    height: 18px;
                    background-color: #F1802E;
                    text-align: center;
                    color: white;
                    font-size: 13px;
                    border-radius: 15px;
                    align-items: center;
                    justify-content: center;
                    top: -50%;
                    right: -50%;
                }
            }

            & .profile-img-status{
                position: relative;

                & .profile-img{
                    width: 35px;
                    border-radius: 20px;
                    cursor: pointer;
                }

                & .status-dot{
                    position: absolute;
                    background-color: #05D103;
                    width: 12px;
                    height: 12px;
                    border-radius: 20px;
                    bottom: 0;
                    right: 0;
                }
            }
        }
    }
}


