<div class="question-bank-container">
    <div class="status_filter-func-container">
        <div class="status_filter-container">
            <div class="status-block">
                <div class="status-text">Đang soạn thảo</div>
                <div class="status-checkbox-block">
                    <input type="checkbox" name="" id="checkboxid" class="status-checkbox">
                    <label for='checkboxid' class="status-checkbox-label"></label>
                </div>
            </div>
            <div class="status-block">
                <div class="status-text">Đang soạn thảo</div>
                <div class="status-checkbox-block">
                    <input type="checkbox" name="" id="checkboxid" class="status-checkbox">
                    <label for='checkboxid' class="status-checkbox-label"></label>
                </div>
            </div>        
        </div>
        <div class="func-container">
            <div class="func-block">
                <div class="func-icon-block">
                    <i class="fa-solid fa-upload"></i>
                </div>
            </div>
            <div class="func-block">
                <div class="func-icon-block">
                    <i class="fa-solid fa-download"></i>
                </div>
                <div class="func-text">Template</div>
            </div>
            <div class="func-block addnew-block">
                <div class="func-icon-block">
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class="func-text">THÊM MỚI</div>
            </div>
        </div>
    </div>
    <div class="search-container">

    </div>
    <div class="datalist-container">

    </div>
    <div class="pagination-container">

    </div>
</div>