.question-bank-container {
    width: 100%;
    height: 100%;


    & .status_filter-func-container {
        display: flex;
        width: 100%;
        height: 80px;
        align-items: center;
        justify-content: space-between;
        overflow-x: auto;
        border-bottom: 1px solid #BDC2D2;
        

        & .status_filter-container {
            display: flex;  
                    

            & .status-block {
                display: flex;
                height: 22px;
                background-color: #FFFFFF;
                color: #959DB3;
                font-weight: 700;
                padding: 5px;
                align-items: center;
                border: 2px solid transparent;
                border-radius: 20px;
                cursor: pointer;
                margin-left: 0.5rem;
                margin-right: 0.5rem;
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

                & .status-text {
                    padding-left: 10px;
                    padding-right: 10px;
                    white-space: nowrap;
                }

                & .status-checkbox-block {
                    padding-right: 10px;


                    & .status-checkbox {
                        display: none;
                    }


                    & .status-checkbox-label {
                        display: block;
                        width: 16px;
                        height: 16px;
                        background-color: white;
                        border: 1px solid #959DB3;
                        border-radius: 4px;
                        cursor: pointer;
                        position: relative;
                    }

                    & .status-checkbox-label:before {
                        content: '\2714';
                        display: block;
                        width: 13px;
                        height: 18px;
                        background-color: #008000;
                        color: white;
                        border-radius: 4px;
                        position: absolute;
                        top: -1px;
                        left: -1px;
                        line-height: 18px;
                        font-size: 11px;
                        padding-left: 5px;
                        transform: scale(0);
                    }

                    & .status-checkbox:checked+.status-checkbox-label:before {
                        transform: scale(1);
                    }
                }

                &:hover {
                    border: 2px solid #008000;

                    & .status-checkbox-block .status-checkbox-label {
                        background-color: #008000;
                        border-color: #008000;
                        transition: ease-in-out 0.1s;
                    }
                }

                &.active {
                    border: 1px solid #008000;
                }


            }
        }

        & .func-container{
            display: flex;
            height: 100%;
            align-items: center;
            gap: 0.5rem;
            margin-right: 0.5rem;
            
            & .func-block{
                display: flex;
                height: 32px;
                align-items: center;
                background-color: #FFFFFF;
                color: #959DB3;
                border-radius: 4px;
                border: 2px solid transparent;
                cursor: pointer;
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

                & .func-icon-block{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 35px;
                    height: 100%;
                }

                & .func-text{
                    padding-right: 10px;
                    white-space: nowrap;
                }

                &:hover{
                    border: 2px solid #008000;
                }
            }

            & .addnew-block{
                background-color: #1A6634;
                color: white;
                box-shadow: 0 10px 20px #A5DBF7, 0 6px 6px #A5DBF7;

                &:hover{
                    box-shadow: 0 10px 20px #73cdfa, 0 6px 6px #73cdfa;
                }
            }

        }

    }

    & .search-container {
        width: 100%;
        height: 90px;

    }

    & .datalist-container {
        width: 100%;
        height: calc(100% - 261px);

    }

    & .pagination-container {
        width: 100%;
        height: 90px;

    }
}