*{
    font-family: "Mulish";
    overflow-y: hidden;
    overflow-x: hidden;
}

.page-container{
    height: 100vh;
}

.content-block{
    width: 100%;
    height: calc(100% - 50px);  
}

.header-block{
    width: 100%;
    height: 50px;
}
